<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewRefressEnd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C3EA9C61DAE700D0060F0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3EA9DF1DAE70120060F0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3EA9EA1DAE70120060F0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
